@import "tailwindcss";

@theme {
  --font-primary: 'Plus Jakarta Display', Helvetica, Arial, sans-serif;

  --font-special: 'Roobert', sans-serif;

  --color-theme-midnight: #10151B;
  --color-theme-dodger-blue: #2986FF;
}


@layer base {
  html,
  body {
    background: var(--color-theme-midnight);
    color: white;
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
    margin: 0;
    width: 100%;
  }

  body {
    font-family: var(--font-primary), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input[type='password']::-ms-reveal,
  input[type='password']::-ms-clear {
    display: none;
  }

  input[type='password']::-webkit-textfield-decoration-container {
    display: none;
  }
}

@layer utilities {

}

@font-face {
  font-family: 'Roobert';
  src: url('/fonts/Roobert-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}